<div class="container">
    <div class="page-header">
        <h1>Multi language</h1>
    </div>
    <p>BAT makes use of the madlib-locale module to support multiple languages in the same webapplication. No need for multiple
        templates containing different languages. It can not only replace text but also format dates, numbers and money.</p>
    <p>Want to know how madlib-locale achieves this, or want to use the module separate from BAT?</p>
    <a href="https://github.com/marviq/madlib-locale" class="btn btn-primary" role="button" target="_blank">Read more</a>

    <div class="page-header">
        <h3>See it in action</h3>
    </div>
    <p>Try changing the language using the select box below and see how it affects the examples below.</p>
    <select name="language" class="form-control">
        <option value="nl-NL">NL</option>
        <option value="en-GB">EN</option>
    </select>
    <table class="table">
        <thead>
            <th>{{_translate "i18n-type"}}</th>
            <th>{{_translate "i18n-value" }}</th>
        </thead>
        <tbody>
            <tr>
                <td>{{_translate "i18n-text"}}</td>
                <td>{{_translate "i18n-exampleText"}}</td>
            </tr>
            <tr>
                <td>{{_translate "i18n-date"}}</td>
                <td>{{_date "date" date }}</td>
            </tr>
            <tr>
                <td>{{_translate "i18n-number"}}</td>
                <td>{{_number number}}</td>
            </tr>
            <tr>
                <td>{{_translate "i18n-money"}}</td>
                <td>{{_money "euro" money}}</td>
            </tr>
        </tbody>
    </table>


</div>
